* {
  box-sizing: border-box;
}

/* root pseudoclass best used for variable definitions/color schemes */
:root {
  color-scheme: light dark;
  --text-light: #333;
  --background-light: white;
  --backdrop-light: #f8f8f8;
  --header-light: #333;
  --accent-light: dodgerblue;
  --text-dark: #ddd;
  --background-dark: #1a2a3c;
  --backdrop-dark: #171d25;
  --header-dark: #12171e;
  --accent-dark: #0bb5ff;
}

html {
  /* what belongs in html?*/

  /* Gradient background doesn't work as variables...) */
  /* background-color: radial-gradient(circle at top left, light-dark(var(--backdrop-light), var(--backdrop-dark)), light-dark(var(--background-light), var(--background-dark))); */
}

body {
  /* font: weight, font-size/line-height, font-family */
  font: 400 1.2em/2 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: light-dark(var(--backdrop-light), var(--backdrop-dark));
  color: light-dark(var(--text-light), var(--text-dark));
  margin: 0;
}

main {
  background-color: light-dark(var(--background-light), var(--background-dark));
  margin: 0 auto;
  width: 70%;
  padding: 1rem;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.carousel {
  max-height: 800px;
}

/* Make all carousel images the same height */
.carousel-item img {
  object-fit: cover;
  height: 800px;
}

header {
  background-color: light-dark(var(--header-light), var(--header-dark));
}

#about img {
  width: 30%;
  height: auto;
  margin-right: 2.5rem;
}

#work_resume {
  width: 40%;
  height: auto;
  margin-left: 2.5rem;
  border: 1px solid light-dark(var(--header-light), var(--header-dark));
  border-radius: 5px;
}

#contact {
  width: 70%;
  border: 1px solid light-dark(var(--header-light), var(--header-dark));
  /* background-color: light-dark(var(--background-light), var(--backdrop-dark)); */
  background-color: light-dark(#fcfcfc, #313f50);
  border-radius: 5px;
  padding: 1rem;
}

/* #contact form input,
#contact form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
} */

#contact form button {
  padding: 0.5rem 1rem;
  background-color: light-dark(var(--accent-light), var(--accent-dark));
  border: none;
  color: light-dark(var(--background-light), var(--background-light));
  font-size: 1rem;
  align-items: center;
}
