* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.carousel {
  max-height: 800px;
}

/* Make all carousel images the same height */
.carousel-item img {
  object-fit: cover;
  height: 800px;
}

header {
  background-color: #333;
}

#about img {
  width: 30%;
  height: auto;
  margin-right: 2.5rem;
}
