* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.carousel {
  max-height: 800px;
}

/* Make all carousel images the same height */
.carousel-item img {
  object-fit: cover;
  height: 800px;
}
